/* ======================================= GENERAL ======================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    --main-text-color: white;
    --error-text-color: rgb(224, 29, 29);
    --highlight-text-color: rgb(7, 32, 3);
    --square-flipped-color: rgb(27, 160, 34);
    --square-flipped-hover: rgb(43, 209, 51);
    --linear-gradient-color: #685518, #153b12;
}

html {
    height: 100%;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: -webkit-linear-gradient(var(--linear-gradient-color));
    background: -moz-linear-gradient(var(--linear-gradient-color));
    background: -o-linear-gradient(var(--linear-gradient-color));
    background: linear-gradient(var(--linear-gradient-color));
    height: 100%;
}

.main-title {
    text-align: center;
    color: var(--main-text-color);
    font-size: 32pt;
}

.image-logo {
    width: 100px;
    margin-bottom: 25px;
}

.btn {
    background-color: rgb(207, 100, 0);
    border: none;
    border-radius: 10px;
    color: var(--main-text-color);
    width: 80%;
}

.btn:hover {
    cursor: pointer;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ======================================================================================= */

/* =================================== HIGHSCORE TABLE =================================== */

#highscore-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard-table {
    width: 500px;
    background-color: var(--highlight-text-color);
    color: var(--main-text-color);
    border-radius: 10px;
    outline: solid white;
    padding: 5px;
}

.player-data {
    text-align: center;
}

#go-back-btn {
    margin-top: 15px;
}

/* ======================================================================================= */

/* ================================== START GAME WINDOW ================================== */
#start-game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    background-color: var(--highlight-text-color);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#start-game > li {
    width: 100%;
    display: flex;
    justify-content: center;
}


.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-input label {
    color: var(--main-text-color);
    margin-top: 5px;
    margin-bottom: 5px;
}

#input-time {
    color: var(--main-text-color);
}

#input-time:hover {
    cursor: pointer;
}

.input-time-style {
    accent-color: rgb(207, 100, 0);
}

.error-msg {
    color: var(--error-text-color);
    font-size: 9px;
    margin-top: 5px;
}

#input-time-marker {
    color: var(--main-text-color);
}
/* ======================================================================================= */


/* ===================================== GAME WINDOW ===================================== */
#game-window {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.player-info {
    width: 100%;
    display: flex;
    color: var(--main-text-color);
    justify-content: space-around;
    margin: 5px;
}

.player-info > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: var(--highlight-text-color);
}

.player-hearts {
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-field {
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 20px;
    width: 1000px;
    height: 450px;
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#play-field div {
    display: flex
}

#play-field div > span {
    height: 80px;
    width: 80px;
    margin: 5px;
}

.numbered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    border:  5px solid rgba(27, 160, 34, 0.247);
}

.numbered:hover {
    cursor: pointer;
}

#time-bar {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    height: 10px;
    background-color: rgb(207, 100, 0);
    border-radius: 10px;
}

#time-bar-progress {
    width: 100%;
    background-color: rgb(255, 251, 19);
    height: 100%;
    border-radius: 10px;
}

#cnt-btn-container {
    margin-top: 15px;
    width: 150px;
}
/* ======================================================================================= */


/* =================================== CONTINUE WINDOW =================================== */

#continue-window {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    background-color: var(--highlight-text-color);
    width: 200px;
    border-radius: 10px;
    color: var(--main-text-color);
    padding-left: 20px;
    padding-right: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.number-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.number-remember {
    font-size: 15px;
}

#number-cnt-output {
    font-size: 50px;
}


/* ======================================================================================= */

/* =================================== END GAME WINDOW =================================== */

#end-game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    width: 300px;
    background-color: var(--highlight-text-color);
    color: var(--main-text-color);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#end-game > dl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#end-game > dl > dt {
    color: rgb(207, 100, 0);;
}

#end-game dd {
    margin-top: 5px;
}

#end-score-out {
    font-size: 45px;
}

#end-highscore-out {
    font-size: 45px;
}

#end-numbers-out {
    font-size: 30px;
}

.end-btn-container {
    display: flex;
    justify-content: space-between;
}

.end-btn-container > button {
    width: 45% !important;
    padding: 3px;
}

#main-menu-btn {
    background-color: rgb(37, 68, 206) !important;    
}


/* ======================================================================================= */


/* ===================================== MEDIA QUERY ===================================== */

@media screen and (max-width: 700px) {
    .aside-note {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    #start-game {
        display: none;
    }

    #highscore-window {
        display: none;
    }

    #game-window {
        display: none;
    }

    #continue-window {
        display: none;
    }

    #end-game {
        display: none;
    }
}

/* ======================================================================================= */

/* ======================================== UTILS ======================================== */
.hide {
    display: none !important;
}

.aside-note {
    width: 100%;
    height: 20px;
    padding: 5px;
    background-color: var(--highlight-text-color);
    color: var(--main-text-color);
    display: none;
}

.flipped {
    background-color: var(--square-flipped-color);
    color: var(--square-flipped-color) !important;
    animation: flip 0.5s;
}

@keyframes flip {
    100% {
        transform: rotateY( 180deg );
    }
}

.flipped:hover {
    background-color: var(--square-flipped-hover);
    color: var(--square-flipped-hover) !important;
}

.wrong-sqr {
    animation: shake 0.3s;
    border-color: var(--error-text-color);
}

@keyframes shake {
    25% {
        transform: translateX( 4.5px );
    }
    50% {
        transform: translateX( -4.5px );
    }
    75% {
        transform: translateX( 4.5px );
    }
}

/* ======================================================================================= */